@model SystemAccount

@{
	ViewData["Title"] = "Profile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">@TempData["Error"]</div>
}


<h1>Profile</h1> 
<form asp-action="Profile" method="post">
	<div class="form-group">
		<label asp-for="AccountName"></label>
		<input asp-for="AccountName" class="form-control" value="@Model.AccountName" />
	</div>
    
	<div class="form-group">
		<label asp-for="AccountEmail"></label>
		<input asp-for="AccountEmail" class="form-control" value="@Model.AccountEmail" readonly="readonly"/>
	</div>

	<div class="form-group">
		<label>New password</label>
		<input name="newPassword" type="password" class="form-control" />
	</div>

	<div class="form-group">
		<label>Confirm new password</label>
		<input name="reNewPassword" type="password" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Update</button>
</form>